:root {
    --primary-color: #1D9BF0;
    --primary-color_hover: #1A8CD8;
    --white: #fff;

    --grey: grey;

    --draft-font-size: 20px;
}

.content {
    display: flex;
}

.content-section {
    padding: 20px;
}